$metallic-gradient-linear: linear-gradient( to right, #717171, #969696, 10%, #d6d6d6 50%, #969696 90%, #717171 100%);
$metallic-gradient-radial: radial-gradient( circle at 50% 50%, #d6d6d6, #969696, 90%, #717171 100%);
body {
  perspective: 1500px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 50%;
}
.scene,
.shape,
.shape > div {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
  transform: rotateX(-28deg) rotateY(-51deg);
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
  > div {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    background-size: 100% 100% !important;
    background-position: center;
  }
}
.shape {
  .ft {
    width: 100%;
    height: 100%;
  }
  .bk {
    width: 100%;
    height: 100%;
    left: 100%;
  }
  .rt {
    transform: rotateY(-90deg) translateX(-50%);
  }
  .lt {
    transform: rotateY(90deg) translateX(-50%);
  }
  .tp {
    transform: rotateX(90deg) translateY(-50%);
  }
  .bm {
    transform: rotateX(-90deg) translateY(-50%);
  }
  .lt {
    left: 100%;
  }
  .bm {
    top: 100%;
  }
}

[class*="door"] {
  > div {
    background-color: #717171;
  }
}

.fridge-body {
  transform: translate3D(12em, -22.5em, 12em);
  width: 24em;
  height: 45em;
  margin: -22.5em 0 0 -12em;
  .ft {
    transform: translateZ(12em);
    background: $metallic-gradient-linear;
  }
  .bk {
    transform: translateZ(-12em) rotateY(180deg);
  }
  .rt,
  .lt {
    width: 24em;
    height: 45em;
    background: $metallic-gradient-linear;
  }
  .tp,
  .bm {
    width: 24em;
    height: 24em;
    background: $metallic-gradient-radial;
  }
}

.freezer-door {
  transform: translate3D(24em, -36.5em, 12em);
  width: 2em;
  height: 14em;
  margin: -7em 0 0 -1em;
  .ft {
    transform: translateZ(10.5em);
    background: linear-gradient(to left, #969696, #717171);
  }
  .bk {
    transform: translateZ(-10.5em) rotateY(180deg);
  }
  .rt,
  .lt {
    width: 21em;
    height: 14em;
    background: $metallic-gradient-linear;
  }
  .tp,
  .bm {
    width: 2em;
    height: 21em;
    background: linear-gradient(to left, #969696, #717171);
  }
}

.fridge-door {
  transform: translate3D(26em, -15em, 12em) rotateY(11deg)
   ;
  width: 2em;
  height: 25.5em;
  margin: -12.75em 0 0 -1em;
  .ft {
    transform: translateZ(10.5em);
    background: linear-gradient(to left, #969696, #717171);
  }
  .bk {
    transform: translateZ(-10.5em) rotateY(180deg);
  }
  .rt,
  .lt {
    width: 21em;
    height: 25.5em;
    background: $metallic-gradient-linear;
  }
  .tp,
  .bm {
    width: 2em;
    height: 21em;
    background: linear-gradient(to left, #969696, #717171);
  }
}
[class*="door-base"] {
  width: 2em;
  height: 2em;
  margin: -1em 0 0 -1em;
  .ft {
    transform: translateZ(0.5em);
  }

  .bk {
    transform: translateZ(-0.5em) rotateY(180deg);
  }

  .rt,
  .lt {
    width: 1em;
    height: 2em;
  }

  .tp,
  .bm {
    width: 2em;
    height: 1em;
  }
}
[class*="door-beam"] {
  width: 1em;
  height: 11em;
  margin: -5.5em 0 0 -0.5em;
  .ft {
    transform: translateZ(0.5em);
  }

  .bk {
    transform: translateZ(-0.5em) rotateY(180deg);
  }
  .rt,
  .lt {
    width: 1em;
    height: 11em;
  }

  .tp,
  .bm {
    width: 1em;
    height: 1em;
  }
}
.freezer-door-base-bottom {
  transform: translate3D(25.5em, -32em, 21em);
}
.freezer-door-base-top {
  transform: translate3D(25.5em, -41em, 21em);
}
.fridge-door-base-top {
  transform: translate3D(29em, -26em, 20.5em) rotateY(11deg);
}
.fridge-door-base-bottom {
  transform: translate3D(29em, -17em, 20.5em) rotateY(11deg);
}
.freezer-door-beam {
  transform: translate3D(26.5em, -36.5em, 21em);
}
.fridge-door-beam {
  transform: translate3D(29.75em, -21.5em, 20.5em) rotateY(11deg);
}
.fridge-inner {
  transform: translate3D(22em, -15em, 12.9em);
  width: 4em;
  height: 25em;
  margin: -12.5em 0 0 -2em;
  .lt {
    width: 20em;
    height: 25em;
    background: #222;
  }
}

.floor {
  transform: translate3D(48em, 0.5em, 48em);
  width: 100em;
  height: 1em;
  margin: -0.5em 0 0 -50em;
  .ft {
    transform: translateZ(50em);
  }
  .bk {
    transform: translateZ(-50em) rotateY(180deg);
  }
  .rt,
  .lt {
    width: 100em;
    height: 1em;
  }
  .tp,
  .bm {
    width: 100em;
    height: 100em;
    background-color: #543a53;
    background-image: linear-gradient(45deg, #362535 25%, transparent 25%),
      linear-gradient(-45deg, #362535 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #362535 75%),
      linear-gradient(-45deg, transparent 75%, #362535 75%);
    background-size: 13em !important;
    background-position: 82% 97%;
  }
}

.wall-right {
  transform: translate3D(48em, -49em, -2.5em);
  width: 100em;
  height: 100em;
  margin: -50em 0 0 -50em;
  .ft {
    transform: translateZ(0.5em);
    background: linear-gradient(to bottom, black, #362535);
  }
  .bk {
    transform: translateZ(-0.5em) rotateY(180deg);
  }
  .rt,
  .lt {
    width: 1em;
    height: 100em;
  }
  .tp,
  .bm {
    width: 100em;
    height: 1em;
  }
}

.wall-left {
  transform: translate3D(-2.5em, -48em, 48em) rotateY(-90deg);
  width: 100em;
  height: 100em;
  margin: -50em 0 0 -50em;
  .ft {
    transform: translateZ(0.5em);
  }
  .bk {
    transform: translateZ(-0.5em) rotateY(180deg);
    background: linear-gradient(to bottom, black, #362535);
  }
  .rt,
  .lt {
    width: 1em;
    height: 100em;
  }
  .tp,
  .bm {
    width: 100em;
    height: 1em;
  }
}
